$ios-system-blue: rgba(0, 122, 255, 1);
$ios-system-green: rgba(52, 199, 89, 1);
$ios-system-indigo: rgba(88, 86, 214, 1);
$ios-system-orange: rgba(255, 149, 0, 1);
$ios-system-pink: rgba(255, 45, 85, 1);
$ios-system-purple: rgba(175, 82, 222, 1);
$ios-system-red: rgba(255, 59, 48, 1);
$ios-system-teal: rgba(90, 200, 250, 1);
$ios-system-yellow: rgba(255, 204, 0, 1);
$ios-system-gray: rgba(142, 142, 147, 1);
$ios-system-gray2: rgba(174, 174, 178, 1);
$ios-system-gray3: rgba(199, 199, 204, 1);
$ios-system-gray4: rgba(209, 209, 214, 1);
$ios-system-gray5: rgba(229, 229, 234, 1);
$ios-system-gray6: rgba(242, 242, 247, 1);
$ios-label: rgba(0, 0, 0, 1);
$ios-secondary-label: rgba(60, 60, 67, 0.6);
$ios-tertiary-label: rgba(60, 60, 67, 0.3);
$ios-quaternary-label: rgba(60, 60, 67, 0.2);
$ios-placeholder-text: rgba(60, 60, 67, 0.3);
$ios-separator: rgba(60, 60, 67, 0.3);
$ios-opaqueseparator: rgba(198, 198, 200, 1);
$ios-link: rgba(0, 122, 255, 1);