$ios-system-blue-dark: rgba(10, 132, 255, 1);
$ios-system-green-dark: rgba(48, 209, 88, 1);
$ios-system-indigo-dark: rgba(94, 92, 230, 1);
$ios-system-orange-dark: rgba(255, 159, 10, 1);
$ios-system-pink-dark: rgba(255, 55, 95, 1);
$ios-system-purple-dark: rgba(191, 90, 242, 1);
$ios-system-red-dark: rgba(255, 69, 58, 1);
$ios-system-teal-dark: rgba(100, 210, 255, 1);
$ios-system-yellow-dark: rgba(255, 214, 10, 1);
$ios-system-gray-dark: rgba(142, 142, 147, 1);
$ios-system-gray2-dark: rgba(99, 99, 102, 1);
$ios-system-gray3-dark: rgba(72, 72, 74, 1);
$ios-system-gray4-dark: rgba(58, 58, 60, 1);
$ios-system-gray5-dark: rgba(44, 44, 46, 1);
$ios-system-gray6-dark: rgba(28, 28, 30, 1);
$ios-label-dark: rgba(255, 255, 255, 1);
$ios-secondar-label-dark: rgba(235, 235, 245, 0.6);
$ios-tertiary-label-dark: rgba(235, 235, 245, 0.3);
$ios-quaternary-label-dark: rgba(235, 235, 245, 0.2);
$ios-placeholder-text-dark: rgba(235, 235, 245, 0.3);
$ios-separator-dark: rgba(84, 84, 88, 0.3);
$ios-opaque-separator-dark: rgba(56, 56, 58, 1);
$ios-link-dark: rgba(9, 132, 255, 1);