<GridLayout>
  <GridLayout orientation="vertical" width="100%" height="100%" rows="*,auto">
    <GridLayout row="0">
      <GridLayout [hidden]="activeTabIndex !== 0">
        <page-router-outlet name="discoveryTab"></page-router-outlet>
      </GridLayout>
      
      <GridLayout [hidden]="activeTabIndex !== 1">
        <page-router-outlet name="chatTab"></page-router-outlet>
      </GridLayout>

      <GridLayout [hidden]="activeTabIndex !== 2">
        <page-router-outlet name="settingsTab"></page-router-outlet>
      </GridLayout>
    </GridLayout>

    <GridLayout class="bottom-navigation" columns="*,*,*" verticalAlignment="bottom">
      <GridLayout column="0" (tap)="onTabTap(0)" [ngClass]="{ 'active': activeTabIndex === 0 }">
        <Label text="&#xf002;" class="fas" fontSize="26" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </GridLayout>
      <GridLayout column="1" (tap)="onTabTap(1)" [ngClass]="{ 'active': activeTabIndex === 1 }">
        <Label text="&#xf27a;" class="fas" fontSize="26" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </GridLayout>
      <GridLayout column="3" (tap)="onTabTap(2)" [ngClass]="{ 'active': activeTabIndex === 2 }">
        <Label text="&#xf013;" class="fas" fontSize="26" horizontalAlignment="center"
          verticalAlignment="center"></Label>
      </GridLayout>
    </GridLayout>
  </GridLayout>
</GridLayout>