<GridLayout height="100%">
  <MDBottomNavigation [selectedIndex]="activeTabIndex || 0">
    <MDTabContentItem>
      <GridLayout [paddingBottom]="indent">
        <page-router-outlet name="discoveryTab"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout [paddingBottom]="indent">
        <page-router-outlet name="libraryTab"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout [paddingBottom]="indent">
        <page-router-outlet name="favoritesTab"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout [paddingBottom]="indent">
        <page-router-outlet name="settingsTab"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
  </MDBottomNavigation>

  <GridLayout class="bottom-navigation" columns="*,*,*,*" verticalAlignment="bottom">
    <GridLayout column="0" (tap)="onTabTap(0)" [ngClass]="{ 'active': activeTabIndex === 0 }">
      <Label text="&#xf38f;" class="ion" fontSize="26" horizontalAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>
    <GridLayout column="1" (tap)="onTabTap(1)" [ngClass]="{ 'active': activeTabIndex === 1 }">
      <Label text="&#xf21f;" class="ion" fontSize="26" horizontalAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>
    <GridLayout column="2" (tap)="onTabTap(2)" [ngClass]="{ 'active': activeTabIndex === 2 }">
      <Label text="&#xf443;" class="ion" fontSize="26" horizontalAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>
    <GridLayout column="3" (tap)="onTabTap(3)" [ngClass]="{ 'active': activeTabIndex === 3 }">
      <Label text="&#xf2f7;" class="ion" fontSize="26" horizontalAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>
  </GridLayout>
</GridLayout>