<GridLayout orientation="vertical" width="100%" height="100%" columns="*" rows="*,auto" (loaded)="onLoaded()">

  <MDBottomNavigation [selectedIndex]="activeTabIndex || 0">
    <MDTabStrip class="bottom-navigation">
      <MDTabStripItem class="bottom-navigation-tab">
        <Label text="Home" class="label"></Label>
        <Image src="font://&#xf38f;" class="ion"></Image>
      </MDTabStripItem>
      <MDTabStripItem class="bottom-navigation-tab">
        <Label text="Catalog" class="label"></Label>
        <Image src="font://&#xf400;" class="ion"></Image>
      </MDTabStripItem>
      <MDTabStripItem class="bottom-navigation-tab">
        <Label text="Favorites" class="label"></Label>
        <Image src="font://&#xf443;" class="ion"></Image>
      </MDTabStripItem>
      <MDTabStripItem class="bottom-navigation-tab">
        <Label text="Settings" class="label"></Label>
        <Image src="font://&#xf2f7;" class="ion"></Image>
      </MDTabStripItem>
    </MDTabStrip>

    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet name="homeRouterOutlet"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet name="catalogRouterOutlet"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet name="favoritesRouterOutlet"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
    <MDTabContentItem>
      <GridLayout>
        <page-router-outlet name="settingsRouterOutlet"></page-router-outlet>
      </GridLayout>
    </MDTabContentItem>
  </MDBottomNavigation>
</GridLayout>