
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/default";
@import "./fonts/ionicons/ionicons";

.ion {
  font-family: 'Ionicons', ionicons;
}

ActionBar, .action-bar {
  background-color: $brand;
}

/* blocks */
.block {
	padding: 16;
}

.bottom-navigation {
  background-color: #191626;
  .active {
    Label {
      color: $brand;
    }
  }
}

/* buttons */
Button.-primary {
  font-size: 18;
}

.btn {
  font-size: 18;
  border-radius: 80;
  &.btn-primary {
    color: #fff;
    background-color: #3f3d56;
  }
  &.btn-lg {
    height: 56;
    font-size: 20;
    font-weight: 600;
  }
}

/* inputs */
.input {
  color: #222;
  placeholder-color: #777;
  background-color: #fff;
  border-radius: 5;
  box-shadow: none;
  border-width: 0;
  font-size: 16;
  padding: 10 15;
}

/* forms */
.form-group {
  .label {
    color: #999;
  }
  .input {
     margin: 0;
  }
}